/**
*
* 		Footer
*     
*
**/

.footer {
	padding-top: 200px;

	&__container {}

	&__content {
		&-icons {
			padding-bottom: 130px;

			p {
				text-align: center;
				font-size: 36px;
				line-height: 36px;
			}
		}

		&-contact {
			padding-bottom: 170px;

			.tagline {
				text-align: center;
				font-family: map-get($fonts, "secondaryfont");
				font-size: 40px;
				line-height: 54px;
				padding-bottom: 24px;

				@include breakpoint(lg) {
					font-size: 55px;
					line-height: 70px;
				}

				#word-switcher {
					font-style: italic;

					position: relative;
					padding-right: 230px;

					label {
						border-bottom: 2px solid #000;

						position: absolute;
						opacity: 0;

						&.active {
							opacity: 1;
							animation: fade 2s ease-in-out infinite;
						}
					}
				}
			}

			.email {
				text-align: center;
				font-size: 40px;
				line-height: 54px;
				font-weight: 300;

				@include breakpoint(lg) {
					font-size: 55px;
					line-height: 70px;
				}

				a {
					font-weight: 400;
					font-size: 22px;
					line-height: 36px;
					text-transform: uppercase;
					color: black;
					letter-spacing: 0.12em;
					position: relative;
					padding: 0;
					top: -32px;
					text-decoration: none;
					display: inline-block;
					border-bottom: 2px solid;
				}
			}
		}

		&-nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 50px;

			&--wrapper {
				background: #A18CBB;
			}

			.nav {
				display: flex;
				grid-gap: 24px;

				a {
					color: black;
					font-weight: 400;
					font-size: 24px;
					line-height: 36px;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}


@keyframes fade {
	0% {
		opacity: 0;
		transform: translateY(-50%);
	}

	25% {
		opacity: 1;
		transform: translateY(0%);
	}

	75% {
		opacity: 1;
		transform: translateY(0%);
	}

	100% {
		opacity: 0;
		transform: translateY(50%);
	}
}