/**
*
* 		Header
*			- The header styles will go hehre
*     
*
**/

.header {
    .navbar {
        &-wrapper {
            display: flex;
            justify-content: space-between;
            padding-top: 48px;
            padding-bottom: 48px;
        }

        &-logo {
            svg {
                path {
                    fill: black;
                    transition: 0.3s;
                }
            }

            &:hover {
                svg {
                    path {
                        fill: #A18CBB;
                    }
                }
            }
        }

        &-menu {
            .menu-primary {
                text-align: right;
                display: flex;
                flex-direction: column;
                grid-gap: 16px;
                min-width: 150px;

                li {
                    a {
                        text-transform: lowercase;
                        font-family: map-get($fonts, "primaryfont");
                        color: map-get($colors, "black");
                        font-weight: 300;
                        font-size: 28px;
                        line-height: 32px;
                        display: flex;
                        grid-gap: 12px;
                        justify-content: end;

                        span {
                            &:first-of-type {
                                border-bottom: 2px solid transparent;
                            }

                            &:last-of-type {
                                display: none;
                            }
                        }
                    }

                    &.current-menu-item,
                    &:hover {
                        a {
                            font-family: map-get($fonts, "secondaryfont");
                            font-weight: 400;

                            span {
                                &:first-of-type {
                                    border-bottom-color: map-get($colors, "black");
                                    font-style: italic;
                                }

                                &:last-of-type {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}