/**
*
* 		BUTTONS
*			- Add any button styles in here.
* 			- Below is grouped into a buttons list but the .button is also accessible directly
*
**/


//Single Button
.button {
	transition: 0.5s;
	color: black;
	background: #F6BC9B;
	border: 1px solid #F6BC9B;
	font-weight: 300;
	font-size: 24px;
	line-height: 36px;
	cursor: pointer;
	padding: 8px 24px;
	border-radius: 5px;

	//Small Button
	&.small {}

	//Large Button
	&.large {}

	&:hover {
		background: transparent;
	}
}