@use "sass:map";
/**
*
* 		GENERAL
*			- General supporting Styles
*
**/

html {
	scroll-behavior: smooth;
}

.grecaptcha-badge {
	visibility: hidden;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {

	@each $key,
	$value in $primary {
		#{"" + $key}: $value;
	}

	overflow-x: hidden;

	&.fixed {
		overflow: hidden;
	}

	&.no-scroll {
		overflow: hidden;
	}
}

strong {
	font-weight: 400;
}

img {
	display: block;
	max-width: 100%;
}

video {
	max-width: 100%;
	height: auto;
}

section {
	position: relative;
}

.image--parallax-container {
	overflow: hidden;

	@include breakpoint(tablet) {
		overflow: inherit;
	}
}

.video--container {
	overflow: hidden;
}

a.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: map.get($colors, "white");
	font-size: 14px;
	letter-spacing: 2.1875px;
	padding: 0 30px;
	height: 49px;
	border: 1px solid map.get($colors, "brand");
	background-color: map.get($colors, "brand");
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: map.get($colors, "white");
		color: map.get($colors, "brand");
		border: 1px solid map.get($colors, "brand");
	}
}

.max-width {
	max-width: $max-width;
	margin: 0 auto;
	padding: 0 30px;

	@include breakpoint("sm") {
		padding: 0 48px;
	}

	@include breakpoint("lg") {
		padding: 0 150px;
	}
}