@use "sass:map";
/**
*
* 		Typography
*
*     Styles relating to type will be found here
*
*     1. Typography Defaults
*     2. Typography Custom Classes
*
**/

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
input,
textarea,
span {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
.h1 {
  font-family: map.get($fonts, "mainfont");
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin: 0;
  font-stretch: 50%;
  color: map.get($colors, "dark");

  @include breakpoint(lgdesktop) {
    font-size: 44px;
    line-height: 46px;
  }

  @include breakpoint(1100px) {
    font-size: 24px;
    line-height: 30px;
  }

  &.highlight {
    flex: 1;
    font-weight: 700;
    font-size: 84px;
    line-height: 83px;
    letter-spacing: -0.02em;
    color: map.get($colors, "brand");

    @include breakpoint(1000px) {
      font-size: 40px;
      line-height: 38px;
      letter-spacing: -0.02em;
    }
  }
}

h2,
.h2 {
  font-family: map.get($fonts, "mainfont");
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  color: map.get($colors, "dark");

  @include breakpoint(800px) {
    font-size: 18px;
    line-height: 23px;
  }

  &.highlight {
    font-family: map.get($fonts, "mainfont");
    font-weight: 700;
    font-size: 84px;
    line-height: 83px;
    letter-spacing: -0.02em;
    color: map.get($colors, "brand");

    @include breakpoint(smmobile) {
      font-weight: bold;
      font-size: 48px;
      line-height: 46px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
    }
  }
}

h3,
.h3 {
  font-family: map.get($fonts, "mainfont");
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: map.get($colors, "dark");
}

h4,
.h4 {
  font-family: map.get($fonts, "mainfont");
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 33px;
  color: map.get($colors, "dark");

  @include breakpoint(800px) {
    font-size: 20px;
    line-height: 28.13px;
  }
}

h6,
.h6,
.eyebrow {
  font-family: map.get($fonts, "mainfont");
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 143.16%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: map.get($colors, "dark");
  margin: 0;
}

p,
.body {
  font-family: map.get($fonts, "mainfont");
  color: map.get($colors, "dark");
}

input,
select,
option,
textarea {
  font-family: map.get($fonts, "mainfont");
}

p,
input,
select,
option,
textarea,
.body {
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  color: map.get($colors, "black");
  margin: 0;
}

p {
  &.primary {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: map.get($colors, "dark");
    opacity: 1;
    transition: opacity 500ms ease;
    white-space: nowrap;
  }

  a {
    color: map.get($colors, "gray-dark");
    text-decoration: underline;
    opacity: 1;
    transition: opacity 250ms ease;

    &:hover {
      text-decoration: underline;
      color: map.get($colors, "dark");
      transition: color 250ms ease;
    }
  }
}

a {
  font-family: map.get($fonts, "mainfont");

  &.primary {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: map.get($colors, "dark");
    opacity: 1;
    transition: opacity 500ms ease;
    white-space: nowrap;

    &:hover {
      transition: opacity 500ms ease;
      opacity: 0.5;
    }
  }

  // &.button {
  //   font-family: map.get($fonts, "mainfont");
  //   font-style: normal;
  //   font-weight: 500;
  //   font-size: 12px;
  //   line-height: 15px;
  //   text-align: center;
  //   letter-spacing: 0.06em;
  //   text-transform: uppercase;
  // }

  &.footer,
  &.footer_menu_2 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
  }

  &.underline {
    font-family: map.get($fonts, "mainfont");
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    opacity: 1;
    transition: opacity 500ms ease;
    color: map.get($colors, "dark");

    &:hover {
      transition: opacity 500ms ease;
      opacity: 0.5;
    }
  }
}

span {
  &.underline {
    font-family: map.get($fonts, "mainfont");
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    opacity: 1;
    transition: opacity 500ms ease;
    color: map.get($colors, "dark");

    &:hover {
      transition: opacity 500ms ease;
      opacity: 0.5;
    }
  }
}

.gform_title {
  font-family: map.get($fonts, "mainfont");
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 33px;
  text-transform: none;
  color: map.get($colors, "dark");
}

// 2. Typography Animations

.underline {
  &--animation {
    span {
      cursor: pointer;
    }

    &:hover {

      a,
      span {
        opacity: 1 !important;
      }
    }

    a,
    span {
      font-family: map.get($fonts, "mainfont");
    }

    a,
    span,
    p {
      position: relative;
      padding-bottom: 5px;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: map.get($colors, "brand");
        position: absolute;
        left: 0;
        bottom: -1px;
        /* this is to match where the border is */
        transform-origin: left;
        transform: scale(0);
        transition: 0.25s linear;
      }

      &:hover,
      &.active {
        &:before {
          transition: transform 0.25s linear;
          transform: scale(1);
        }
      }
    }
  }

  &--transition {
    span {
      cursor: pointer;
    }

    &:hover {

      a,
      span {
        opacity: 1 !important;
      }
    }

    a,
    span {
      font-family: map.get($fonts, "mainfont");
    }

    a,
    span,
    p {
      position: relative;
      border-bottom: 1px solid map.get($colors, "brand");
      padding-bottom: 5px;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: map.get($colors, "gray-light");
        position: absolute;
        left: 0;
        bottom: -1px;
        /* this is to match where the border is */
        transform-origin: left;
        transform: scale(0);
        transition: 0.25s linear;
      }

      &:hover {
        &:before {
          transition: transform 0.25s linear;
          transform: scale(1);
        }
      }
    }
  }
}