.page__about {
    p {
        font-weight: 400;
        font-size: 22px;
        line-height: 36px;
    }

    .about {
        &-bg {
            position: relative;
            padding-bottom: 130px;
            margin-top: -50px;

            .bg-overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 40%;
                width: 100%;
                background: url('../assets/images/cream-bg.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                z-index: -9;
            }
        }

        &-content {
            margin-top: 40px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 80px;

            .profile-picture {
                max-width: 600px;
            }

            .content {
                p {
                    margin-bottom: 24px;
                    font-size: 18px;
                    line-height: 33px;
                }
            }
        }
    }

    .gallery {
        padding-top: 200px;
        max-width: 1100px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 24px;
        margin-bottom: 56px;
    }

    .interests-expertise {
        max-width: 1100px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;

        h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 12px;
        }

        p {
            font-weight: 300;
            font-size: 24px;
            line-height: 36px;
        }
    }

    .clients {
        margin-top: 148px;

        &-header {
            max-width: 1100px;
            margin: 0 auto;
            margin-bottom: 48px;

            h2 {
                font-weight: 700;
                font-size: 28px;
                line-height: 36px;
                margin-bottom: 20px;
            }
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-gap: 20px;

            img {
                border: 0.2px solid #949494;
                border-radius: 5px;
            }
        }
    }
}