.page__about {
    padding-top: 0;
    padding-bottom: 56px;

    @include breakpoint("sm") {
        padding-top: 16px;
        padding-bottom: 64px;
    }

    @include breakpoint("md") {
        padding-top: 52px;
        padding-bottom: 100px;
    }

    &__container {
        padding: 0 30px;

        @include breakpoint("sm") {
            padding: 0 48px;
        }

        @include breakpoint("md") {
            padding: 0 64px;
        }

        @include breakpoint("lg") {
            padding: 0px 96px;
        }

        @include breakpoint("xlg") {
            padding: 0px 150px;
        }
    }

    .about {
        &-content {
            display: flex;
            flex-direction: column;
            grid-gap: 48px;
            justify-content: space-between;

            @include breakpoint("md") {
                flex-direction: row;
            }

            .profile-picture {
                @include breakpoint("md") {
                    min-width: 350px;
                }

                @include breakpoint("lg") {
                    max-width: 530px;
                }
            }

            .content {

                @include breakpoint("md") {
                    max-width: 530px;
                }

                p {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 140%;
                    margin-bottom: 16px;

                    @include breakpoint("md") {
                        font-size: 16px;
                    }
                }

                .cta-buttons {
                    margin-top: 32px;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    @include breakpoint("sm") {
                        flex-direction: row;
                        gap: 40px;
                    }
                }
            }
        }
    }

    .clients {
        margin-top: 76px;

        @include breakpoint("sm") {
            margin-top: 100px;
        }

        @include breakpoint("lg") {
            margin-top: 130px;
        }

        &-header {
            margin-bottom: 48px;

            h2 {
                display: none;
            }

            h3 {
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 25px;

                @include breakpoint("sm") {
                    font-size: 22px;
                    line-height: 30px;
                }

                @include breakpoint("md") {
                    font-size: 28px;
                    line-height: 35px;
                }

                @include breakpoint("lg") {
                    font-size: 31px;
                    line-height: 40px;
                }
            }
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 12px;

            @include breakpoint("sm") {
                grid-template-columns: repeat(5, 1fr);
                gap: 20px;
            }

            @include breakpoint("md") {
                grid-template-columns: repeat(7, 1fr);
            }

            img {
                border-radius: 5px;
                border: 0.2px solid #949494;
            }
        }
    }

    .design-process {
        margin-top: 76px;

        @include breakpoint("sm") {
            margin-top: 100px;
        }

        h3 {
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 25px;

            @include breakpoint("sm") {
                font-size: 22px;
                line-height: 30px;
            }

            @include breakpoint("md") {
                font-size: 28px;
                line-height: 35px;
            }

            @include breakpoint("lg") {
                font-size: 31px;
                line-height: 40px;
            }
        }

        &-image {
            margin-top: 44px;
            margin-bottom: 44px;

            @include breakpoint("sm") {
                margin-top: 48px;
                margin-bottom: 56px;
            }

            @include breakpoint("md") {
                margin-top: 56px;
                margin-bottom: 70px;
            }

            svg {
                width: 100%;
            }

            .design-process-mobile {
                display: block;

                @include breakpoint("sm") {
                    display: none;
                }
            }

            .design-process-desktop {
                display: none;

                @include breakpoint("sm") {
                    display: block;
                }
            }
        }

        &-steps {
            display: flex;
            flex-direction: column;
            gap: 24px;

            @include breakpoint("sm") {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 40px;
            }

            .step {
                border: 1px solid #9E9E9E;
                padding: 24px 28px;

                @include breakpoint("sm") {
                    padding: 28px 32px;
                }

                @include breakpoint("md") {
                    padding: 32px 36px;
                }

                h4 {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 25px;
                    margin-bottom: 10px;

                    @include breakpoint("sm") {
                        font-size: 18px;
                    }

                    @include breakpoint("md") {
                        font-size: 20px;
                    }
                }

                p {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 140%;

                    @include breakpoint("sm") {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}