@use "sass:map";
.page-template-template-process {
    .footer {
        padding-top: 96px;
    }

    .footer__content {

        &-icons,
        &-contact {
            display: none;
        }
    }

    main {
        min-height: 60vh;
    }
}

.page__process {
    max-width: 992px;
    margin: 0 auto;
    text-align: center;

    h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 61px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 16px;
        display: flex;
        grid-gap: 20px;
        justify-content: center;
        align-items: center;
    }

    p {
        font-weight: 300;
        font-size: 32px;
        line-height: 34px;
    }

    h3 {
        font-weight: 300;
        font-size: 22px;
        line-height: 34px;
        margin-top: 72px;

        a {
            font-weight: 300;
            font-size: 22px;
            line-height: 34px;
            text-decoration: none;
            border-bottom: 1px solid black;
            color: black;

            &:hover {
                font-weight: 400;
                font-family: map.get($fonts, "secondaryfont");
                font-style: italic;
                border-bottom: 1px solid black;
            }
        }
    }
}