@use "sass:map";

.page-template-template-process {
    .footer {
        padding-top: 96px;
    }

    .footer__content {

        &-icons,
        &-contact {
            display: none;
        }
    }

    main {
        min-height: 60vh;
    }
}

.page__process {
    &__container {
        padding: 0 30px;

        @include breakpoint("sm") {
            padding: 0 48px;
        }

        @include breakpoint("md") {
            padding: 0 64px;
        }

        @include breakpoint("lg") {
            padding: 0px 96px;
        }

        @include breakpoint("xlg") {
            padding: 0px 150px;
        }
    }

    &-content {
        text-align: center;

        h2 {
            font-weight: 700;
            font-size: 24px;
            line-height: 40px;
            text-transform: uppercase;
            margin-bottom: 16px;
            display: flex;
            gap: 16px;
            justify-content: center;
            align-items: center;

            @include breakpoint("sm") {
                font-size: 30px;
                line-height: 50px;
                gap: 20px;
            }

            @include breakpoint("md") {
                font-size: 40px;
                line-height: 61px;
            }
        }

        p {
            font-weight: 300;
            font-size: 24px;
            line-height: 24px;

            @include breakpoint("sm") {
                font-size: 32px;
                line-height: 32px;
            }
        }

        h3 {
            font-weight: 300;
            font-size: 22px;
            line-height: 34px;
            margin-top: 72px;

            a {
                font-weight: 700;
                font-size: 22px;
                font-style: italic;
                line-height: 34px;
                text-decoration: none;
                border-bottom: 1px solid black;
                color: black;

                &:hover {
                    color: #7449A9;
                    border-bottom: 1px solid #7449A9;
                }
            }
        }
    }
}