.single-projects {
    .single-project-page {
        .hero-image {
            img {
                width: 100vw;
                max-height: 475px;
                object-fit: cover;
            }
        }

        .max-width {
            padding: 0 30px;

            @include breakpoint("sm") {
                padding: 0 48px;
            }

            @include breakpoint("md") {
                padding: 0 64px;
            }

            @include breakpoint("lg") {
                padding: 0px 96px;
            }

            @include breakpoint("xlg") {
                padding: 0px 150px;
            }
        }

        &--wrapper {

            h3 {
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 25px;
                margin-bottom: 8px;

                @include breakpoint("sm") {
                    font-size: 20px;
                    line-height: 28px;
                    margin-bottom: 16px;
                }

                @include breakpoint("md") {
                    font-size: 25px;
                    line-height: 30px;
                }
            }

            p {
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 140%;

                @include breakpoint("sm") {
                    font-size: 16px;
                }
            }

            ul.list-items {
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 20px;
                margin-bottom: 0;

                li {
                    list-style-type: disc;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 140%;

                    @include breakpoint("sm") {
                        font-size: 16px;
                    }

                    strong {
                        font-weight: 700;
                    }
                }
            }

            .tabs {
                margin: 0 auto;
                padding: 24px 0;

                &-wrapper {
                    background: white;
                    // position: sticky;
                    // top: 0;
                    // z-index: 9;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 16px;
                    padding-bottom: 32px;
                    border-bottom: 1px solid #000;

                    @include breakpoint("sm") {
                        flex-direction: row;
                        padding-bottom: unset;
                        border-bottom: unset;
                    }

                    @include breakpoint("md") {
                        gap: 48px;
                    }

                    li {
                        a {
                            color: black;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 25px;

                            @include breakpoint("md") {
                                font-size: 22px;
                                line-height: 30px;
                            }
                        }

                        &.active {
                            a {
                                font-weight: 700;
                                text-decoration-line: underline;
                                text-decoration-style: solid;
                                text-decoration-skip-ink: auto;
                                text-decoration-thickness: auto;
                                text-underline-offset: auto;
                                text-underline-position: from-font;
                            }
                        }
                    }
                }
            }

            .section-padding {
                padding: 24px 0;

                @include breakpoint("sm") {
                    padding: 32px 0;
                }

                @include breakpoint("md") {
                    padding: 40px 0;
                }

                .tab-title {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 36px;
                    letter-spacing: 0.72px;
                    text-transform: uppercase;
                    color: #A18CBB;
                    margin-bottom: 12px;

                    @include breakpoint("sm") {
                        font-size: 20px;
                        line-height: 36px;
                        letter-spacing: 0.80px;
                        margin-bottom: 18px;
                    }

                    @include breakpoint("md") {
                        font-size: 22px;
                        line-height: 36px;
                        letter-spacing: 0.88px;
                        margin-bottom: 24px;
                    }
                }
            }

            .the-brief {
                &-header {
                    @include breakpoint("sm") {
                        padding-top: 32px;
                    }

                    h3 {
                        margin-bottom: 10px;

                        @include breakpoint("sm") {
                            margin-bottom: 30px;
                        }
                    }
                }

                &-meta {
                    margin-top: 24px;
                    margin-bottom: 24px;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 20px;

                    @include breakpoint("sm") {
                        margin-top: 40px;
                        margin-bottom: 64px;
                        grid-template-columns: repeat(2, 1fr);
                    }

                    @include breakpoint("md") {
                        grid-template-columns: repeat(4, 1fr);
                    }

                    h4 {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 25px;

                        @include breakpoint("sm") {
                            font-size: 20px;
                            line-height: 28px;
                            margin-bottom: 12px;
                        }

                        @include breakpoint("md") {
                            font-size: 25px;
                            line-height: 30px;
                        }
                    }

                    span {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 140%;

                        @include breakpoint("sm") {
                            font-size: 16px;
                        }
                    }
                }

                &-thumbnail {
                    margin-bottom: 60px;
                }

                &-content {
                    p {
                        margin-bottom: 24px;

                        strong {
                            display: block;
                        }
                    }
                }

                &-prompt {
                    margin-bottom: 32px;
                }

                &-design-process {
                    img {
                        margin-top: 32px;

                        @include breakpoint("sm") {
                            margin-top: 48px;
                        }

                        @include breakpoint("md") {
                            margin-top: 60px;
                        }
                    }
                }

                &-group-2-grid {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 20px;

                    @include breakpoint("sm") {
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                }

                &-questions {
                    @include breakpoint("sm") {
                        flex-basis: 100%;
                        margin-top: 20px;
                    }

                    ul.list-items {
                        li {
                            list-style-type: decimal;
                        }
                    }
                }
            }

            .research {
                &-background {
                    margin-bottom: 24px;
                }

                &-group {
                    &-questions-grid {
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: 18px;

                        @include breakpoint("sm") {
                            grid-template-columns: 1fr 1fr;
                        }

                        @include breakpoint("md") {
                            grid-template-columns: repeat(3, 1fr);
                            gap: 28px;
                        }

                        &--1 {
                            margin-top: 24px;

                            @include breakpoint("sm") {
                                margin-top: 36px;
                            }
                        }

                        &--inner {
                            display: flex;
                            flex-direction: column;
                            gap: 6px;

                            @include breakpoint("sm") {
                                gap: 16px;
                            }

                            @include breakpoint("md") {
                                gap: 20px;
                            }
                        }

                        h4 {
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 140%;

                            @include breakpoint("sm") {
                                font-size: 16px;
                            }

                            @include breakpoint("md") {
                                min-height: 45px;
                            }
                        }

                        span {
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 25px;
                        }

                        p {
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 25px;
                        }
                    }

                    &-sub-3 {
                        &-questions-grid {
                            margin-top: 0;
                        }
                    }

                    &-grid {
                        display: grid;
                        grid-template-columns: 1.5fr 1fr;
                        grid-gap: 64px;
                        margin-top: 56px;
                        align-items: center;

                        ul {
                            li {
                                margin-bottom: 20px;

                                &:last-of-type {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

                &-group-1 {
                    display: flex;
                    flex-direction: column;

                    .mobile-only {
                        margin-bottom: 24px;

                        @include breakpoint("md") {
                            display: none;
                        }
                    }

                    .research-content {
                        display: flex;
                        justify-content: space-between;
                        gap: 64px;

                        .desktop-only {
                            display: none;

                            @include breakpoint("md") {
                                display: block;
                                max-width: 424px;
                            }
                        }
                    }

                    .list-items {
                        li {
                            margin-bottom: 16px;
                        }
                    }
                }

                &-group-3 {
                    background: linear-gradient(0deg, #F4F4F4 60%, #FFFFFF 40%);

                    &-questions-grid {
                        margin-top: 0;
                    }
                }
            }

            .problem {
                &-statement {

                    h3,
                    p {
                        color: white;
                    }
                }

                &-userflow {
                    img {
                        margin-top: 36px;
                    }
                }
            }

            .final-design {
                &-group {
                    padding-top: 0;
                }

                &-design_decision {
                    margin-bottom: 32px;
                }

                &-visual_identity {
                    img {
                        margin-top: 64px;
                    }
                }

                &-prototype {

                    img,
                    video {
                        margin-top: 36px;
                    }
                }

                &-impact {
                    padding-bottom: 0;
                }
            }

            .user-testing {
                &-group {
                    &-grid {
                        display: grid;
                        grid-template-columns: 1.5fr 1fr;
                        grid-gap: 64px;
                    }
                }
            }

            .page-nav {
                text-align: right;
                margin-top: 88px;

                &--wrapper {
                    display: flex;
                    justify-content: flex-end;
                    grid-gap: 24px;
                }
            }
        }
    }
}