.single-projects {
    .footer {
        padding-top: 96px;

        &__content {

            &-icons,
            &-contact {
                display: none;
            }
        }
    }

    .single-project-page {
        .hero-image {
            img {
                width: 100vw;
                max-height: 721px;
                object-fit: cover;
            }
        }

        .max-width {
            max-width: 1220px;
        }

        &--wrapper {

            p {
                font-weight: 300;
                font-size: 22px;
                line-height: 36px;

                strong {
                    font-weight: 400;
                }
            }

            ul.list-items {
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 20px;

                li {
                    list-style-type: disc;
                    font-weight: 300;
                    font-size: 22px;
                    line-height: 36px;
                }
            }

            .tabs {
                max-width: 910px;
                margin: 0 auto;
                margin-top: 40px;

                &-wrapper {
                    background: white;
                    position: sticky;
                    top: 0;
                    z-index: 9;
                }

                ul {
                    display: flex;
                    justify-content: space-between;

                    li {
                        a {
                            font-weight: 300;
                            font-size: 24px;
                            line-height: 45px;
                            color: black;
                        }

                        &.active {
                            a {
                                font-weight: 500;
                            }
                        }
                    }
                }
            }

            .section-padding {
                padding: 72px 0;

                h3 {
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 36px;
                    margin-bottom: 24px;
                }

                .tab-title {
                    font-weight: 800;
                    font-size: 22px;
                    line-height: 36px;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    color: #A18CBB;
                    margin-bottom: 24px;
                }
            }

            .the-brief {
                &-header {
                    h3 {
                        font-weight: 700;
                        font-size: 28px;
                        line-height: 36px;
                        margin-bottom: 24px;
                    }
                }

                &-meta {
                    margin-bottom: 60px;
                    margin-top: 60px;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-gap: 16px;
                    max-width: 900px;

                    h4 {
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 36px;
                        margin-bottom: 8px;
                    }

                    span {
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 25px;
                    }
                }

                &-thumbnail {
                    margin-bottom: 60px;
                }

                &-content {
                    p {
                        margin-bottom: 24px;

                        strong {
                            display: block;
                        }
                    }
                }

                &-prompt {
                    margin-bottom: 60px;
                }

                &-design-process {
                    img {
                        margin-top: 60px;
                    }
                }

                &-group-2-grid {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 72px;
                }

                &-questions {
                    grid-column: span 2;
                }
            }

            .research {
                &-background {
                    margin-bottom: 60px;
                }
            }

            .problem {
                &-statement {

                    h3,
                    p {
                        color: white;
                    }
                }

                &-userflow {
                    img {
                        margin-top: 36px;
                    }
                }
            }

            .final-design {
                &-group {
                    padding-top: 0;
                }

                &-design_decision {
                    margin-bottom: 32px;
                }

                &-visual_identity {
                    img {
                        margin-top: 64px;
                    }
                }

                &-prototype {
                    img {
                        margin-top: 36px;
                    }
                }

                &-impact {
                    padding-bottom: 0;
                }
            }

            .user-testing {
                &-group {
                    &-grid {
                        display: grid;
                        grid-template-columns: 1.5fr 1fr;
                        grid-gap: 64px;
                    }
                }
            }

            .page-nav {
                text-align: right;
                margin-top: 88px;

                &--wrapper {
                    display: flex;
                    justify-content: flex-end;
                    grid-gap: 24px;
                }
            }
        }
    }
}