/**
*
* 		CONFIG
*			- Site Config styles for the site
*
**/

@use "sass:map";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Xanh+Mono:ital@0;1&display=swap');

//Fonts
$fonts: (
  "mainfont": ("Albert Sans",
    sans-serif,
  ),
  "secondaryfont":("Xanh Mono", monospace)
);

//Layout
$layout: (
  "margin": 0,
  "margin-mobile": 0,
  "max-width": 1440px,
  "gutter": 20px,
  "grid-max": 10,
  "no-margin": -80px,
  "no-margin-mobile": -25px,
  "header-height": 135px,
  "header-height-mobile": 56px,
);

//Colors
$colors: (
  "dark": #000000,
  "gray-light": #f5f5f5,
  "gray-dark": #404042,
  "white": #ffffff,
  "black": #000000,
  "grey":#F4F4F4,
  "darkgreen":#3D8D6F,
  "lightred":#FBE5E7,
  "cyan":#71AFC7,
  "brightyellow":#F2CABE,
  "skyblue":#9BD5DE
);

//Primary Styles
$primary: (
  font-weight: 400,
  line-height: 1.33,
  font-family: map.get($fonts, "mainfont"),
  overflow-x: hidden,
  background: #fff,
  -webkit-font-smoothing: antialiased,
  -moz-osx-font-smoothing: grayscale,
  -webkit-text-size-adjust: 100%,
  -ms-text-size-adjust: 100%,
);

$max-width: 1440px;